
@{
    ViewData["Title"] = "ChackYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ChackYourInbox</h1>

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="text-body">
            <div>
                <p>Password reset link has been sent to your email. Please check your inbox :)</p>
            </div>
         </div>

    </div>

</div>








