@model ResetpasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Reset Password</h1>

<form asp-action="ResetPassword" >
	<div asp-validation-summary="All"></div>
	<div class="form-group">
		<input class="text" asp-for="NewPassword" placeholder="New Password" required="">
		<span asp-validation-for="NewPassword"></span>
	</div>
	<div class="form-group">
		<input class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
		<span asp-validation-for="ConfirmPassword"></span>
	</div>

	<input type="submit" value="Reset Password">
</form>