@model DepartmentViewModel
@{
    ViewData["Title"] = "Update";
}

<h1>Update Department</h1>

<form asp-action="Update">

    <partial name="PartialView/Inputspartial" />


    <button type="submit" class="btn btn-primary">Submit</button> |
    <a asp-action="Index" class="btn btn-light">Go Back</a>
</form>

@section ValidationSection {
    <partial name="_ValidationScriptsPartial" />
}
